<a href="https://colab.research.google.com/github/1801310khm/knu_bdna_2022/blob/main/%EA%B9%80%ED%98%84%EB%AF%BC_4%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd
import numpy as np
import io

In [10]:
a = pd.Series([8,8,7,6])
print(a)

0    8
1    8
2    7
3    6
dtype: int64

In [11]:
print(a[0])
print(a[1])
print(a[2])

8
8
7

In [12]:
a = pd.Series([8,8,7,6], index=['A','B','C','D'])
print(a)

A    8
B    8
C    7
D    6
dtype: int64

In [13]:
print(a[['A','B']])

A    8
B    8
dtype: int64

In [14]:
a.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
a.values

array([8, 8, 7, 6])

In [16]:
print(sorted(a.index))

['A', 'B', 'C', 'D']

In [17]:
print(sorted(a.values))

[6, 7, 8, 8]

In [18]:
x=pd.Series([3,2,1,1], index= ['keyboard','guitar','drum','bass'])
print(x)

keyboard    3
guitar      2
drum        1
bass        1
dtype: int64

In [19]:
sorted(x.index)

['bass', 'drum', 'guitar', 'keyboard']

In [20]:
x.reindex(sorted(x.index))

bass        1
drum        1
guitar      2
keyboard    3
dtype: int64

In [21]:
x = pd.Series([3,2,1,1], index= ['keyboard','guitar','drum','bass'])
y = pd.Series([7,2,3,6], index=['keyboard','guitar','song','djembe'])
x+y

bass         NaN
djembe       NaN
drum         NaN
guitar       4.0
keyboard    10.0
song         NaN
dtype: float64

In [22]:
val=[1,3,2,4,2,3]
x = pd.Series(val)
pd.unique(x)

array([1, 3, 2, 4])

In [23]:
age={'현민':24,'환철':48,'은정':48,'현진':22}

In [24]:
panta=pd.Series(age)
panta

현민    24
환철    48
은정    48
현진    22
dtype: int64

In [25]:
names=['현민','재욱','구창','금수','정환','현석']
panta=pd.Series(names)
panta

0    현민
1    재욱
2    구창
3    금수
4    정환
5    현석
dtype: object

In [26]:
a=panta[3:6]
print(a)

3    금수
4    정환
5    현석
dtype: object

In [27]:
data= {'나이':[24,48,48,22],'이름':['현민','환철','은정','현진'],'키':[176,175,149,168]}
x=pd.DataFrame(data, columns=['이름','나이','키'])
x

   이름  나이    키
0  현민  24  176
1  환철  48  175
2  은정  48  149
3  현진  22  168

In [28]:
print(x.이름)

0    현민
1    환철
2    은정
3    현진
Name: 이름, dtype: object

In [29]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary)
data

   0  1
0  1  2
1  3  4
2  5  6

In [30]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary, columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6

In [31]:
data.iloc[1]

First     3
Second    4
Name: 1, dtype: int64

In [32]:
data.iloc[:,1]

0    2
1    4
2    6
Name: Second, dtype: int64

In [33]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10],[11,12],[13,14]]
data=pd.DataFrame(ary, columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [34]:
data.head()

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [35]:
data.tail()

   First  Second
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [36]:
data.tail(3)

   First  Second
4      9      10
5     11      12
6     13      14

In [37]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary, columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [38]:
bools=[False,True,True,False,True]
data[bools]

   First  Second
1      3       4
2      5       6
4      9      10

In [39]:
bools=[False,True,True,False,True]
data.Second[bools]

1     4
2     6
4    10
Name: Second, dtype: int64

In [40]:
data= {'나이':[24,48,48,22],'이름':['현민','환철','은정','현진'],'키':[176,175,149,168]}
x=pd.DataFrame(data, columns=['이름','나이','키'])
x

   이름  나이    키
0  현민  24  176
1  환철  48  175
2  은정  48  149
3  현진  22  168

In [41]:
x.mean(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

나이     35.5
키     167.0
dtype: float64

In [42]:
x.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0    100.0
1    111.5
2     98.5
3     95.0
dtype: float64

In [43]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary, columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [44]:
data['First']=data['First'].astype('float')
data

   First  Second
0    1.0       2
1    3.0       4
2    5.0       6
3    7.0       8
4    9.0      10

In [57]:
from google.colab import files
myfile = files.upload()

Saving bus.csv to bus.csv